
body {
    background-color:darkseagreen;
    text-align: center;
}

h1 {
    color:black;
    font-weight: bold;  
    text-align: center;
    font-family: fantasy;
    font-size: 400%;
}
    
h3 {
    color:darkgreen;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
}

h2 {
    color:darkgreen;
    text-align: center;
    font-family: monospace;
}

#quote {
    font-style: italic;
}

#flower {
    width:1300px;
    height:auto;
}

#divider {
    width:200px;
    height: auto;
    padding: 10px;
}

#header_text {
    font-size: 300%;
    padding: 10px;
    color:black;
}

.question {
    color:darkgreen;
    text-align: center;
    font-size: 200%;
}

.answers {
    color: black;
    font-size: 150%;
    padding: 10px;
    
}

#submit {
    width: 150px;
    height: 60px;
    font-size: 130%;
    font-style: bold;
    
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}

#results {
    padding-bottom: 50px;
}

